.playlist {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button {
    margin: 5px;
}

.music{
    width: 40%;
    height: 25%;
    border: 2px solid black;
    margin: 10px;
}